## exportPattern("^[[:alpha:]]+")
import(data.table)
import(igraph)
importFrom(reshape2, melt)
importFrom(rjson, fromJSON)
import(XML)
import(stringr)
import(parallel)
import(logging)

export(RawData, ParseData, ProcessData, AggregateData)
## export(RunCeveCUDF, RunCeveGraphML, RunCoinst, RunOnDCF)
## export(ConvertDCF, ConvertCUDF, ConvertDependencies, ConvertCoinst)
